<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<style>
body {font-family: Arial; background:#f2f2f2;}
.header {background:#b30000; padding:20px; text-align:center;}
.card {background:#fff; width:700px; margin:30px auto; padding:25px; border-radius:8px;}
</style>
</head>

<body>

<div class="header">
    <img src="/static/logo.png" height="50">
</div>

<div class="card">
<h2>Provas Agendadas</h2>

{% if agendamentos %}
<ul>
{% for a in agendamentos %}
<li>
<strong>{{ a.nome }}</strong><br>
Disciplinas: {{ a.disciplinas|join(", ") }}<br>
Data: {{ a.data }} às {{ a.hora }}
</li><hr>
{% endfor %}
</ul>
{% else %}
<p>Nenhuma prova agendada.</p>
{% endif %}

<a href="/logout">Sair</a>
</div>

</body>
</html>
