<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<style>
body{font-family:Arial;background:#f4f6f8;}
header{background:#b71c1c;color:white;padding:15px;display:flex;justify-content:space-between;}
.container{max-width:900px;margin:30px auto;background:white;padding:20px;}
.card{border:1px solid #ddd;padding:15px;margin-bottom:10px;}
.presente{color:green;font-weight:bold;}
</style>
</head>
<body>

<header>
<img src="{{ url_for('static', filename='unifacvest.png') }}" height="40">
<a href="/logout" style="color:white">Sair</a>
</header>

<div class="container">
<h2>Provas Agendadas</h2>

{% for a in agendamentos %}
<div class="card">
<b>{{ a.nome }}</b><br>
{{ a.disciplinas }}<br>
{{ a.data }} | {{ a.hora }}<br>
{% if not a.presente %}
<a href="/presenca/{{ a.id }}">Marcar Presença</a>
{% else %}
<span class="presente">✔ Presente</span>
{% endif %}
</div>
{% endfor %}
</div>

</body>
</html>
